<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">


                    <h4 class="float-left">Danh sách đơn đặt hàng</h4>


                    <ol class="breadcrumb float-left float-md-right">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">danh-sach-don-dat-hang</li>
                    </ol>


                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-12">

                <div class="card p-xl-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-order-id">Order ID</label>
                                <input type="text" name="filter_order_id" value="" placeholder="Order ID" id="input-order-id" class="form-control">
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label" for="input-customer">Tên khách hàng</label>
                                <input type="text" name="filter_customer" value="" placeholder="Tên khách hàng" id="input-customer" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-order-id">Sản phẩm đã mua</label>
                                <input type="text" name="filter_order_id" value="" placeholder="Sản phẩm đã mua" id="input-purchased-product" class="form-control">
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label" for="input-total">Số lượng</label>
                                <input type="text" name="filter_total" value="" placeholder="Số lượng" id="input-quantity" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-total">Tổng chi phí</label>
                                <input type="text" name="filter_total" value="" placeholder="Tổng chi phí" id="input-total" class="form-control">
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label" for="input-order-status">Tình trạng đơn đặt hàng</label>
                                <select name="filter_order_status" id="input-order-status" class="form-control">
                                    <option value="*"></option>
                                    <option value="0">Đã giao</option>
                                    <option value="1">Đang giao</option>
                                    <option value="2">Chưa giao</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-date-added">Date Added</label>
                                <div class="input-group date">
                                    <input type="text" name="filter_date_added" value="" placeholder="Ngày đặt hàng" data-format="YYYY-MM-DD" id="input-date-added" class="form-control">
                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-secondary"><i class="fa fa-calendar"></i></button>
                                                    </span></div>
                            </div>
                            <div class="form-group row">
                                <label class="form-control-label" for="input-date-modified">Ngày nhận</label>
                                <div class="input-group date">
                                    <input type="text" name="filter_date_modified" value="" placeholder="Ngày nhận" data-format="YYYY-MM-DD" id="input-date-modified" class="form-control">
                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-secondary"><i class="fa fa-calendar"></i></button>
                                                    </span></div>
                            </div>
                            <button type="button" id="button-filter" class="btn btn-primary float-right"><i class="fa fa-filter"></i> Lọc</button>
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td  class="text-center"><input type="checkbox" onClick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                <td class="text-right">ID</td>
                                <td class="text-left"><a href="#">Tên khách hàng</a></td>
                                <td class="text-left"><a href="#">Sản phẩm </br>đã mua</a></td>
                                <td class="text-right"><a href="#">Số lượng</a></td>
                                <td class="text-right"><a href="#">Tổng chi phí</a></td>
                                <td class="text-left"><a href="#">Tình trạng</a></td>
                                <td class="text-left"><a href="#">Ngày đặt hàng</a></td>
                                <td class="text-left"><a href="#">Ngày nhận</a></td>
                                <td class="text-right">Tuỳ chỉnh</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">1</td>
                                <td class="text-left">Lê Hoàng Khôi</td>
                                <td class="text-left">God of </br>War 4</td>
                                <td class="text-right">2</td>
                                <td class="text-right">1,900,000 đồng</td>
                                <td class="text-left"><span class="tag label-info">Đã giao</span></td>
                                <td class="text-left">17/03/2019</td>
                                <td class="text-left">17/03/2019</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">2</td>
                                <td class="text-left">Ngô Nguyễn Thuỷ Tiên</td>
                                <td class="text-left">Red Dead </br>Redemption 2</td>
                                <td class="text-right">1</td>
                                <td class="text-right">900,000 đồng</td>
                                <td class="text-left"><span class="tag label-info">Đã giao</span></td>
                                <td class="text-left">16/04/2019</td>
                                <td class="text-left">17/04/2019</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">3</td>
                                <td class="text-left">Nguyễn Hoàng Khánh Như</td>
                                <td class="text-left">Sekiro: Shadows </br>Die Twice</td>
                                <td class="text-right">1</td>
                                <td class="text-right">1,190,000 đồng</td>
                                <td class="text-left"><span class="tag label-info">Đã giao</span></td>
                                <td class="text-left">20/04/2019</td>
                                <td class="text-left">21/04/2019</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">4</td>
                                <td class="text-left">Phan Trần Cẩm Hà</td>
                                <td class="text-left">Assassin's Creed 2</td>
                                <td class="text-right">5</td>
                                <td class="text-right">1,900,000 đồng</td>
                                <td class="text-left"><span class="tag label-purple">Đang giao</span></td>
                                <td class="text-left">20/04/2019</td>
                                <td class="text-left">chưa có</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">5</td>
                                <td class="text-left">Nguyễn Hoàng Khánh My</td>
                                <td class="text-left">The Legend of Zelda</td>
                                <td class="text-right">1</td>
                                <td class="text-right">490,000 đồng</td>
                                <td class="text-left"><span class="tag label-danger">Chưa giao</span></td>
                                <td class="text-left">23/04/2019</td>
                                <td class="text-left">chưa có</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">6</td>
                                <td class="text-left">Nguyễn Trần Phương Thảo</td>
                                <td class="text-left">Devil May Cry 5</td>
                                <td class="text-right">7</td>
                                <td class="text-right">5,670,000 đồng</td>
                                <td class="text-left"><span class="tag label-purple">Đang giao</span></td>
                                <td class="text-left">24/04/2019</td>
                                <td class="text-left">chưa có</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">7</td>
                                <td class="text-left">Võ Văn Lâm</td>
                                <td class="text-left">God of </br> War 4</td>
                                <td class="text-right">3</td>
                                <td class="text-right">3,620,600 đồng</td>
                                <td class="text-left"><span class="tag label-info">Đã giao</span></td>
                                <td class="text-left">24/04/2019</td>
                                <td class="text-left">25/04/2019</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">8</td>
                                <td class="text-left">Nguyễn Khương Trực</td>
                                <td class="text-left">Red Dead </br>Redemption 2</td>
                                <td class="text-right">3</td>
                                <td class="text-right">2,356,500 đồng</td>
                                <td class="text-left"><span class="tag label-purple">Đang giao</span></td>
                                <td class="text-left">23/04/2019</td>
                                <td class="text-left">chưa có</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="3135">
                                    <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                <td class="text-right">9</td>
                                <td class="text-left">Gabe Newell</td>
                                <td class="text-left">Devil May Cry 5, </br> The Legend Of Zelda</td>
                                <td class="text-right">10</td>
                                <td class="text-right">9,450,600 đồng</td>
                                <td class="text-left"><span class="tag label-danger">Chưa giao</span></td>
                                <td class="text-left">24/04/2019</td>
                                <td class="text-left">chưa có</td>
                                <td class="text-right"><a href="" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View"><i class="fa fa-eye"></i></a> <a href="" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a> <a href=""  data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>



            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left"></div>
            <div class="col-sm-6 text-right">Hiển thị từ 1 đến 9 trong 232 (120 trang)</div>
        </div>

        <div class="clearfix"></div>
    </div>

    <!-- END CONTENT BODY -->