<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">

                    <h4 class="float-left">Danh sách sản phẩm</h4>

                    <ol class="breadcrumb float-left float-md-right">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">danh-sach-san-pham</li>
                    </ol>
                </div>
            </div>
        </div><!-- end .page title-->

        <div class="row">
            <div class="col-sm-12">
                <div class="card p-xl-3" >
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-name">Tên sản phẩm</label>
                                <input type="text" name="filter_name" value="" placeholder="Tên sản phẩm" id="input-name" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-model">Thể loại</label>
                                <input type="text" name="filter_model" value="" placeholder="Thể loại" id="input-model" class="form-control" autocomplete="off"><ul class="dropdown-menu"></ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-price">Giá</label>
                                <input type="text" name="filter_price" value="" placeholder="Giá" id="input-price" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-quantity">Số lượng</label>
                                <input type="text" name="filter_quantity" value="" placeholder="Số lượng" id="input-quantity" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label" for="input-status">Tình trạng</label>
                                <select name="filter_status" id="input-status" class="form-control">
                                    <option value="*"></option>
                                    <option value="0">Đang bán</option>
                                    <option value="1">Ngừng bán</option>
                                    <option value="2">Hết hàng</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group row">
                                <label class="form-control-label white-text">aaaaaaaaaaaaaaaaaaaaaaa </label>
                                <button type="button" id="button-filter" class="btn btn-info float-right"><i class="fa fa-filter"></i> Lọc</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end margin-bottom-10">
                    <a href="them-san-pham.hbs">
                        <button  type="button" id="add-product" class="btn btn-success float-right"><i class="fa fa-plus"></i> Thêm sản phẩm</button>
                    </a>
                </div>
                <form  method="post" enctype="multipart/form-data" id="form-product" class="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="text-center"><input type="checkbox" onClick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                <td class="text-center">Ảnh minh hoạ</td>
                                <td class="text-left"><a href="#" class="asc">Tên sản phẩm</a></td>
                                <td class="text-left"><a href="#">Thể loại</a></td>
                                <td class="text-left"><a href="#">Giá</a></td>
                                <td class="text-right"><a href="#">Số lượng</a></td>
                                <td class="text-left"><a href="#">Tình trạng</a></td>
                                <td class="text-right">Tuỳ chỉnh</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="42">
                                </td>
                                <td class="text-center">                    <img src="/images/product_1.jpg" alt="Apple Cinema 30&quot;" class="img-thumbnail">
                                </td>
                                <td class="text-left">Red Dead Redemption 2</td>
                                <td class="text-left">Action-adventure game</td>
                                <td class="text-left">                    <span class=" line-through">900,000 đồng</span><br>
                                    <div class="text-danger">700,000 đồng</div>
                                </td>
                                <td class="text-right">                    <span class="label">50</span>
                                </td>
                                <td class="text-left"><span class="tag label-info">Đang bán</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="30">
                                </td>
                                <td class="text-center">                    <img src="/images/product_2.jpg" alt="Canon EOS 5D" class="img-thumbnail">
                                </td>
                                <td class="text-left">God of War 4</td>
                                <td class="text-left">
                                    <span>Action-adventure game,</span>  <br/>
                                    <span>Hack and slash</span>
                                </td>
                                <td class="text-left">                    <span class=" line-through">1,200,000 đồng</span><br>
                                    <div class="text-danger">869,000 đồng</div>
                                </td>
                                <td class="text-right">                    <span class="label">10</span>
                                </td>
                                <td class="text-left"><span class="tag label-info">Đang bán</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="47">
                                </td>
                                <td class="text-center">                    <img src="/images/product_3.jpg" alt="HP LP3065" class="img-thumbnail">
                                </td>
                                <td class="text-left">Assassin's Creed 2</td>
                                <td class="text-left">
                                    <span>Action-adventure game,</span>  <br/>
                                    <span>Stealth game</span>
                                </td>
                                <td class="text-left">                    451,000 đồng                   </td>
                                <td class="text-right">                    <span class="label">2</span>
                                </td>
                                <td class="text-left"><span class="tag label-purple">Ngừng bán</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="28">
                                </td>
                                <td class="text-center">                    <img src="/images/product_4.jpg" alt="HTC Touch HD" class="img-thumbnail">
                                </td>
                                <td class="text-left">Sekiro: Shadows die twice</td>
                                <td class="text-left">Action-adventure game</td>
                                <td class="text-left">                    1,190,000 đồng                   </td>
                                <td class="text-right">                    <span class="label label-warning">10</span>
                                </td>
                                <td class="text-left"><span class="tag label-info">Đang bán</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="41">
                                </td>
                                <td class="text-center">                    <img src="/images/product_5.jpg" alt="iMac" class="img-thumbnail">
                                </td>
                                <td class="text-left">The Legend of Zelda</td>
                                <td class="text-left">Action-adventure game</td>
                                <td class="text-left">                    490,000 đồng                  </td>
                                <td class="text-right">                    <span class="label label-warning">0</span>
                                </td>
                                <td class="text-left"><span class="tag label-danger">Hết hàng</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">                    <input type="checkbox" name="selected[]" value="40">
                                </td>
                                <td class="text-center">                    <img src="/images/product_6.jpg" alt="iPhone" class="img-thumbnail">
                                </td>
                                <td class="text-left">Devil May Cry 5</td>
                                <td class="text-left">
                                    <span>Action-adventure game,</span>  <br/>
                                    <span>Hack and slash</span>
                                </td>
                                <td class="text-left">                    900,000 đồng                   </td>
                                <td class="text-right">                    <span class="label label-warning">9</span>
                                </td>
                                <td class="text-left"><span class="tag label-purple">Ngừng bán</span></td>
                                <td class="text-right">
                                    <a href="chinh-sua-san-pham.hbs" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="#" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Xoá"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-left"></div>
            <div class="col-sm-6 text-right">Hiển thị từ 1 đến 6 trong 6 (1 trang)</div>
        </div>

        <div class="clearfix"></div>
    </div>
    <!-- END CONTENT BODY -->