<!-- BEGIN CONTENT BODY -->
<div class="page-content-wrapper">
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">


                    <h4 class="float-left">Danh sách người dùng </h4>


                    <ol class="breadcrumb float-left float-md-right">
                        <li class="breadcrumb-item"><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">danh-sach-nguoi-dung </li>
                    </ol>


                </div>
            </div>
        </div><!-- end .page title-->
        <div class="row users-row">
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-5.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Nguyễn Hoàng Khánh My</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> 33 Nguyễn Văn Cừ, Phường 10, Quận 5,Tp. Hồ Chí Minh </div>
                            <div><i class="fa fa-phone"></i> 0388-888-358 </div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-3.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Lê Hoàng Khôi</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> 33 Điện Biên Phủ, Hà Nội</div>
                            <div><i class="fa fa-phone"></i> 0912-345-678</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-2.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Ngô Nguyễn Thuỷ Tiên</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Ba Đình, Hà Nội</div>
                            <div><i class="fa fa-phone"></i> 0123-456-789</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-1.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Phan Trần Cẩm Hà</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Hải Phòng</div>
                            <div><i class="fa fa-phone"></i> 0123-456-789</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-4.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Nguyễn Thị Phương Thảo</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Quận 10, Tp. Hồ Chí Minh</div>
                            <div><i class="fa fa-phone"></i> 0312-456-879</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-2.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Đặng Việt Hà</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Quận 5, Tp. Hồ Chí Minh</div>
                            <div><i class="fa fa-phone"></i> 0456-789-321</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-1.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Hồ Ngọc Hà</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Quận 1, Tp. Hồ Chí Minh</div>
                            <div><i class="fa fa-phone"></i> 0999-645-872</a></div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
            <div class="col-md-6">
                <div class="user-col">
                    <div class="media">
                        <a class="float-left d-flex mr-3" href="thong-tin-ca-nhan.hbs">
                            <img class="media-object rounded-circle sq100" src="/images/avatar-3.jpg" alt="100x100" data-src="holder.js/100x100" >
                        </a>
                        <div class="media-body">
                            <a href="thong-tin-ca-nhan.hbs">
                                <h3 class="follower-name"> Nguyễn Hoàng Khánh Như</h3>
                            </a>
                            <div><i class="fa fa-map-marker"></i> Quận Tân Phú, Tp. Hồ Chí Minh</div>
                            <div><i class="fa fa-phone"></i> 0528-741-369</div>

                            <div class="h20"></div>

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-info btn-3d btn-sm"><i class="fa fa-envelope-o"></i> Gửi tin nhắn</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <a href="thong-tin-ca-nhan.hbs">
                                        <button class="btn btn-success btn-3d btn-sm"><i class="fa fa-user"></i> Xem thông tin người dùng</button>
                                    </a>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-warning btn-3d btn-sm"><i class="fa fa-history"></i> Xem lịch sử mua hàng</button>
                                </div><!-- btn-group -->
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-3d btn-sm"><i class="fa fa-user-times"></i> Chặn người dùng</button>
                                </div><!-- btn-group -->
                            </div><!-- btn-toolbar -->
                        </div><!-- media-body -->
                    </div>
                </div>
            </div><!--.col-6-->
        </div>
    </div>
    <!-- END CONTENT BODY -->